# Dictionaries

In [2]:
dct = {}
print(dct)
print(type(dct))

{}
<class 'dict'>

In [3]:
student = {
    "name": "John",
    "age": 21,
    "courses": ["Math", "Science", "English"],
    "is_active": True,
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "zip": "10001"
    }
}

print(student)

{'name': 'John', 'age': 21, 'courses': ['Math', 'Science', 'English'], 'is_active': True, 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}}

In [4]:
# accessing dictionary elements

print(student["name"])
print(student["courses"])
print(student["address"]["city"])

John
['Math', 'Science', 'English']
New York

In [9]:
print(student.get("name"))
print(student.get("phone", "Not Found"))
print(student.get("phone", "Not Found"))

John
Not Found
Not Found

In [10]:
print(student['phone'])

KeyError: 'phone'

In [12]:
# Dictionary are mutable, meaning we can change their content

student['age'] = 22
print(student)

{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'is_active': True, 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}}

In [13]:
student['phone'] = '555-555-5555'
print(student)

{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'is_active': True, 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '555-555-5555'}

In [14]:
del student['is_active']
print(student)

{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '555-555-5555'}

In [16]:
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'courses', 'address', 'phone'])
dict_values(['John', 22, ['Math', 'Science', 'English'], {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, '555-555-5555'])

In [17]:
# shallow copy 
student2 = student
print(student2)

{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '555-555-5555'}

In [18]:
student['phone'] = '444-444-4444'
print(student)
print(student2)

{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '444-444-4444'}
{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '444-444-4444'}

In [20]:
student3 = student
student3['phone'] = '333-333-3333'
print(student3) 
print(student)

{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '333-333-3333'}
{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '333-333-3333'}

In [21]:
student_copy = student.copy()
print(student_copy)
print(student)

{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '333-333-3333'}
{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '333-333-3333'}

In [22]:
student['phone'] = '899-899-8999'
print(student)
print(student_copy)

{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '899-899-8999'}
{'name': 'John', 'age': 22, 'courses': ['Math', 'Science', 'English'], 'address': {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}, 'phone': '333-333-3333'}

In [23]:
# Iterate over keys

for keys in student:
    print(keys)

name
age
courses
address
phone

In [24]:
# Iterate over values
for values in student.values():
    print(values)

John
22
['Math', 'Science', 'English']
{'street': '123 Main St', 'city': 'New York', 'zip': '10001'}
899-899-8999

In [25]:
# Iterate over key-value pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: John
age: 22
courses: ['Math', 'Science', 'English']
address: {'street': '123 Main St', 'city': 'New York', 'zip': '10001'}
phone: 899-899-8999

In [26]:
# Nested Dictionaries

students = {
    "student1": {
        "name": "John",
        "age": 21,
        "courses": ["Math", "Science"]
    },
    "student2": {
        "name": "Jane",
        "age": 22,
        "courses": ["English", "History"]
    }
}

In [28]:
print(students['student1']['name'])
print(students['student1']['age'])
print(students['student1']['courses'])
print(students['student2']['name'])
print(students['student2']['age'])
print(students['student2']['courses'])

John
21
['Math', 'Science']
Jane
22
['English', 'History']

In [29]:
# Iterating through nested dictionaries

for student_id, student_info in students.items():
    print(f"\n{student_id}:{student_info}")
    for key, value in student_info.items():
        print(f"  {key}: {value}")

student1:{'name': 'John', 'age': 21, 'courses': ['Math', 'Science']}
  name: John
  age: 21
  courses: ['Math', 'Science']

student2:{'name': 'Jane', 'age': 22, 'courses': ['English', 'History']}
  name: Jane
  age: 22
  courses: ['English', 'History']

In [31]:
# Dictionary Comprehensions

squares = {x: x*2 for x in range(6)}
print(squares)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [33]:
# Conditional Dictionary Comprehensions

even_squares = {x: x*2 for x in range(20) if x % 2 == 0}
print(even_squares)

{0: 0, 2: 4, 4: 8, 6: 12, 8: 16, 10: 20, 12: 24, 14: 28, 16: 32, 18: 36}

In [34]:
# Pratical Example

# Use a dictionary to count the frequency of elements in a list

numbers = [1, 2, 2, 3, 4, 4, 4, 5]
frequency = {}

for nums in numbers:
    if nums in frequency:
        frequency[nums] += 1
    else:
        frequency[nums] = 1
        
print(frequency)

{1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

In [35]:
# Merge two dictionaries

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}