# Map Function

In [1]:
def square(x):
    return x ** 2
print(square(5))  # 25

25

In [4]:
map(square, [1, 2, 3, 4, 5])

In [5]:
list(map(square, [1, 2, 3, 4, 5]))  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [6]:
# lambda function with map function

numbers = [1, 2, 3, 4, 5]
list(map(lambda x: x ** 2, numbers))  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [9]:
ls1 = [1, 2, 3, 4, 5]
ls2 = [6, 7, 8, 9, 10]

added = list(map(lambda x, y: x + y, ls1, ls2))
print(added)  # [7, 9, 11, 13, 15]

[7, 9, 11, 13, 15]

In [10]:
# map() convert a list of strings to a list of integers
str_list = ['1', '2', '3', '4', '5']
int_list = list(map(int, str_list))
print(int_list)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [11]:
words = ['hello', 'world', 'python']
upper_words = list(map(str.upper, words))
print(upper_words)  # ['HELLO', 'WORLD', 'PYTHON']

['HELLO', 'WORLD', 'PYTHON']

In [12]:
def get_name(person):
    return person['name']

people = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 35}]
names = list(map(get_name, people))
print(names)  # ['Alice', 'Bob', 'Charlie']

['Alice', 'Bob', 'Charlie']